---
import DocLayout from '../../../../layouts/DocLayout.astro';

const lang = 'en';
const version = 'v1';
---

<DocLayout title="Getting Started" lang={lang} version={version}>
  <p>Welcome to our documentation! This guide will help you get started with our platform.</p>
  
  <h2>Prerequisites</h2>
  <ul>
    <li>Node.js 18 or higher</li>
    <li>npm, yarn, or pnpm</li>
    <li>Basic knowledge of JavaScript</li>
  </ul>
  
  <h2>Installation</h2>
  <p>You can install our package using npm:</p>
  
  <pre><code>npm install @our-package/core</code></pre>
  
  <p>Or using yarn:</p>
  
  <pre><code>yarn add @our-package/core</code></pre>
  
  <p>Or using pnpm:</p>
  
  <pre><code>pnpm add @our-package/core</code></pre>
  
  <h2>Basic Usage</h2>
  <p>Here's a simple example of how to use our package:</p>
  
  <pre><code>import { createApp } from '@our-package/core';

const app = createApp({
  // Configuration options
  debug: true,
  mode: 'development'
});

app.start();</code></pre>
  
  <h2>Next Steps</h2>
  <p>Now that you have the basics set up, you can:</p>
  
  <ul>
    <li>Learn more about <a href={`/${lang}/${version}/guide/configuration`}>configuration options</a></li>
    <li>Explore the <a href={`/${lang}/${version}/api/reference`}>API reference</a></li>
    <li>Check out some <a href={`/${lang}/${version}/examples`}>examples</a></li>
  </ul>
</DocLayout>
